workflow.json
{
  "name": "AskAI basic",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-5",
          "mode": "list",
          "cachedResultName": "openai/gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        272
      ],
      "id": "b492bbb5-d340-4338-b47b-408e3ee8f9b4",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "IWSN9jGhozLmIcCz",
          "name": "Openrouter TPH"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('createsessionid').item.json.sessionIdAnalyze }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        416,
        272
      ],
      "id": "b481646d-f205-4da0-a974-767c552f8a8f",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        48
      ],
      "id": "9349a7b3-c09e-4b70-865d-6f672cb71b6a",
      "name": "General AI Bot"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-5",
          "mode": "list",
          "cachedResultName": "openai/gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -64,
        272
      ],
      "id": "71543b6f-b028-4fe4-813b-ba412d5edd6a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IWSN9jGhozLmIcCz",
          "name": "Openrouter TPH"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('createsessionid').item.json.sessionIdAnalyze }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        272
      ],
      "id": "59447730-b950-4208-8573-d56e8259ade7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsCode": "// Run Once Mode\nconst item = $input.all()[0].json;\n\n// Session-ID erzeugen\nitem.sessionIdAnalyze = \"analyze_\" + ($workflow.id || Date.now());\n\n\n\nreturn [{ json: item }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        48
      ],
      "id": "198d9f8c-7e00-4c1c-85b4-58d58a224790",
      "name": "createsessionid"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body_frage }}\nAnonymisiere diese Anfrage",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -80,
        48
      ],
      "id": "6cffd19d-377d-4fb6-a0db-383f1357b1d7",
      "name": "Anonymisierung"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "workflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        48
      ],
      "id": "f0ab05bc-36ee-4974-ad98-79f16903185d",
      "name": "Webhook",
      "webhookId": "dd83afc9-4227-45ee-a47b-1f3610ce20e7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        48
      ],
      "id": "ce7bc920-b0dd-4ad3-a2b9-7c752f495362",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "General AI Bot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "General AI Bot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Anonymisierung",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Anonymisierung",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "createsessionid": {
      "main": [
        [
          {
            "node": "Anonymisierung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anonymisierung": {
      "main": [
        [
          {
            "node": "General AI Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "createsessionid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "General AI Bot": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65cee9eb-375f-4bcf-89fa-024d4f57d039",
  "meta": {
    "instanceId": "10aafdbbe3e73ae13c4cacf000f6a77fac368172af43a62845c00bb0117582a1"
  },
  "id": "QPC3v01OWBhSzjLj",
  "tags": []
}